.price {
  text-align:center;
}

#block-views-events-upcoming-block-1 {
color:#3b3b3b;
background:#ffffff;
}

#block-views-home-announcements-block-1 {
color:#3b3b3b;
background:#ffffff;
}

#block-views-home-announcements-block-1 td {
  border-bottom:1px solid #5b5b5b;
  }
  
#block-views-events-upcoming-block-1 td {
  border-bottom:1px solid #5b5b5b;
  width:69%;
  }
  
.item-list .pager {
  position:relative;
}

.item-list .pager a {
  display:inline;
}
