/* Donate Page CSS */
/*.form-checkboxes .form-item, .form-radios .form-item */
#sac-donation-options .sac-donation-options-items {
    background-color: #CCE8F9;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888888;
    font-family: pt sans narrow;
    font-size: 20px;
    height: 38px;
    margin: 0.5em 0 1em 1em;
    padding: 6px;
    width: 20%;
}
#sac-donation-options label {
font-weight:bold;
}


label[for=sac-donation-options] {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    font-size: 25px;
    text-indent: 8px;
    margin-bottom: 10px;
    padding:8px;
}

#sac-donate-button {
    background: none repeat scroll 0 0 #CE4141;
    border: medium none;
    border-radius: 20px 10px 20px 10px;
    font-family: pt sans narrow;
    font-size: 25px;
    font-weight: bold;
    margin: 1em 0 1em;
    padding: 4px 15px;
    text-transform: uppercase;
    color: #ffffff;
}

#sac-donate-button:hover {
    text-decoration: underline;
    cursor:pointer;
 }

#additional-donation-section{
    margin-top: 20px;
    text-align: center; 
    margin-bottom: 20px;
}

#dadd {
    position: relative;
    top: 2px;
}
#dadd-label{
    position: relative; 
    top: 10px; 
    left: -9px;
    font-size:20px;
    font-weight:bold;
}

#other-ways {
    margin-top:40px;
}

.other-photo {
    float:left;
    border-bottom:2px solid #5B5B5B;
}

.other-text {
    float:right;
    width: 80%;
    padding:10px;
}

.other-learn-more {
    background: none repeat scroll 0 0 #CE4141 !important;
    border: medium none;
    border-radius: 20px 10px 20px 10px;
    font-family: pt sans narrow;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0 !important;
    padding: 4px 15px !important;
    text-transform: uppercase;
    color: #ffffff !important;
    text-align:center;
    float:right;
}

.other-learn-more:hover {
    color:#FFFFFF;
    cursor:pointer;
 }
 
.other-learn-more a {
    background: none repeat scroll 0 0 #CE4141;
    border: medium none;
    border-radius: 20px 10px 20px 10px;
    font-family: pt sans narrow;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff !important;
    text-align:center;
    float:right;
}

.other-learn-more-announce:hover {
    color:#FFFFFF;
    cursor:pointer;
 }
 
.other-learn-more-announce {
    background: none repeat scroll 0 0 #CE4141 !important;
    border: medium none;
    border-radius: 20px 10px 20px 10px;
    font-family: pt sans narrow;
    font-size: 25px;
    font-weight: bold;
    margin: 8px 0 !important;
    padding: 4px 15px !important;
    text-transform: uppercase;
    color: #ffffff !important;
    text-align:center;
    float:right;
    position:relative;
    right:45px;
}

#mail-donors {
    text-align:center;
    float:left;
    width:100%;
    margin-top:30px;
    border-bottom:2px solid #5B5B5B;
}

#endow-photo-1 {
    height: 200px; 
    width: 300px; 
    float: left; 
    margin: 0px 20px 10px 0px;
}

#endow-photo-2 { 
    float: right; 
    margin: 0px 0px 30px 20px;
}

#endow-photo-3 {
    height: 173px; 
    width: 300px; 
    float: left; 
    margin-right: 150px;
}

.other-photo h2 {
     background: none repeat scroll 0% 0% transparent;
     color:#3b3b3b;
     text-indent: 0px;
     padding-bottom: 8px;
     margin-bottom: 10px;
}

#donation-incentive-options {
    text-align:center;
    float:right;
    width:75%;
}


div#dedication {
    margin-top:1.5em;
}

div#dedication textarea {
    height:66px;
    width:80%;
}

div#free-gift {
    display: block;
    text-align: center;
}

#gift, #size {
    margin: 0px 0px 1em;
}

#size {
    display:none;
}

