.home-bottom-line {
  float:left;
  padding-right:30px;
  text-align:left;
}

.home-bottom-line-text {
  text-align:left;
}


div#danger-ratings-content div#title-row span.title h2 {
  padding: 9px;
  font-weight: bold;
  text-transform: uppercase;
  color: #eee;
  background-color: #444;
  width: 315px;
  font-size: 21px;
}

div#danger-ratings-content div.column {
  margin: 10px 0px 0px 0px;
  padding: 0px;
}

div#danger-ratings-content div#sidebar-first { width: 55%; }
div#danger-ratings-content div#content {
    font-weight: bold;
    text-indent: 0px;
    width: 40%;
    margin:0px 35px 0px 10px;
}

div#danger-ratings-content div#content div.section {
    background-color: #FFFFFF;
    color: #3B3B3B;
    /*margin: 0;*/
    padding: 1px;
    text-align: center;
}

div#danger-ratings-content div#bottom-map-note {
  padding: 5px;
  line-height: 11px;
  font-size: 11px;
}

div#danger-ratings-content div#sidebar-first div.block,
div#danger-ratings-content div#sidebar-first div.section {
    background-color: #FFFFFF;
    border: medium none;
    color: #3B3B3B;
    font-size: 15px;
}

div#danger-ratings-content div#sidebar-first div.block { padding-bottom: 10px; }

div#danger-ratings-content div#sidebar-first div.block h2 {
  font-size: 19px;
  border: 0px;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: bold;
}

div#danger-ratings-content div#sidebar-first div.block a { color: #018FE2; }

div#danger-ratings-content div#sidebar-first div.block ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 3px;
}

div#danger-ratings-content div#sidebar-first div.block ul li { padding-bottom: 7px; }

div.current-advisory {
  text-align: center;
  margin: 15px auto 10px auto;
  background-color: #4cb7f7;
  border-radius: 30px;
  max-width: 350px;
  padding: 10px;
}

.current-advisory span {
  font-size: x-large;
  font-weight: bold;
}

.current-advisory a {
  color:#ffffff !important;
}
