
body, #site-slogan, .ui-widget, .comment-form label { font-family: "PT Sans"; }
.darkbg { background-color: #444; }
.darkbg a {
color: #018fe2;
}
table { font-family: "PT Sans";
        font-size:14px;
 }
body {
   font-family: "PT Sans";
   background-color:#333333;
}

.cke_editable {
width:100% !important;
}

/*custom theming for regions*/
/*header background*/
#header {
    background-color: #333333;
    /*background-image: url("/sites/all/themes/responsive_sac/img/header-2014.png");
    background-position: center center;
    background-repeat: no-repeat;*/
}

/* Site width*/

#featured div.section,
#messages div.section,
#triptych,
#footer-columns,
#footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1150px;
}

#header div.section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1460px;
}

#main {
  max-width:1250px;
}

#header div#main-menu {
  background-color: #333;
  float: left;
  width: 100%;
}

#featured {
    background: none;
    border-bottom: none;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    margin: 5px;
    text-align: center;
    text-shadow: none;
    padding:0px;
}
#featured th {
    font-family: "PT Sans Narrow";
    font-size: 19px;
    font-weight: 700;
}

#featured h2 {
    font-size: 22px;
    font-weight: bold;
    text-transform:uppercase;
}

#site-name a {
  font-family:PT Sans;
  font-weight:bold;
}

#site-name {
  font-size:28px;
  text-transform:uppercase;
  word-spacing:3px;
}

#name-and-slogan {
  background: #333333;
  /*float:none;*/
  margin:0px !important;
  padding:15px 15px 20px;
}

#site-slogan {
  margin:0px 0px -20px;
  font-style:normal;
  font-weight:bold;
  font-size:16px;
  left:0px;
  width:100%;
}

#logo {
  padding: 0px;
  background-color:#333333;
}

#logo img {
   max-width:100%;
}
.social-media-links img {
  max-width: 37px;
}

#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a { background: none; }

#page-wrapper {
    min-height: 100%;
    /*min-width: 1024px;*/
    background: #ffffff;
}

#breadcrumb {
    margin: 0px;
    padding: 4px;
}

.breadcrumb {
    color: #FFFFFF;
    padding-bottom: 0.1em;
}

.breadcrumb a { color: #FFFFFF; }
.one-sidebar #content { background-color: #ffffff; }

.without-secondary-menu .region-header {
   float:none;
   margin:0px;
}

#main {
    margin-bottom: 40px;
    margin-top: 12px;

}

.front h1.title { display: none; }

.contentbg  {
  width: 100%;
  float:left;
  background-color: #FFFFFF;
  overflow:hidden;
  position:relative;
}

.sidebarbg  {
  width: 100%;
  float:left;
  background-color: #fff;
  overflow:hidden;
  position:relative;
  padding-bottom: 25px;
}

.sidebar .block {
  margin: 0px;
  padding: 0px;
}

.sidebar h2 {
  border-top: 2px solid #D6D6D6;
  border-bottom: 1px solid #CCCCCC;
  padding-top: 5px;
  font-size: 14px;
}

.sidebar .section {
    padding: 3px !important;
}


div#image-gallery-row {
  margin-top: 3px;
  margin-bottom: 3px;
  height: 125px;
}

div#leaderboard {
  height: 90px;
  width: 728px;
  margin-right: auto;
  margin-left: auto;
  background-color: #777;
  margin-top: 10px;
  margin-bottom: 15px;
}


/*advisory announment styling*/
ul.advisory-announcement {
    background: none repeat scroll 0 0 #FFFFFF;
    font-size: 14px;
    list-style: none outside none;
    text-align: left;
    padding:1px;
    margin:0px 2px 1px 1px;
    }


#search-block-form input.form-submit, #search-form input.form-submit {
    background: url("/sites/all/themes/sac/css/css-img/search-button.png") no-repeat scroll center top transparent;
    border-color: #E4E4E4 #D2D2D2 #B4B4B4;
    cursor: pointer;
    height: 20px;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    padding: 0;
    text-indent: -9999px;
    width: 25px;
}

.filter-guidelines {
    display: none;
}

#footer-columns a:hover {
    color:#ce4141;
    text-decoration: underline !important;
}

#footer h2 {
    background:#292929;
}

#footer {
    margin-top:15px;
    border:none;
    text-align:center;
}

#media-tab-library {
    display: none;
}


.block-views .view .date-nav-wrapper .date-prev {
    z-index: 0;
}

.block-views .view .date-nav-wrapper .date-next {
    z-index: 0;
}

#ui-datepicker-div {
z-index:9999 !important;
}

.region-footer-firstcolumn, .region-footer-secondcolumn, .region-footer-thirdcolumn, .region-footer-fifthcolumn {
    width: 204px !important;
}

.region-footer-fourthcolumn {
    width:206px !important;
}


.region-footer-fifthcolumn h2 {
    border-bottom: none !important;
    }

.home-doormat > div {
    padding: 0 30px !important;
    width: 256px !important;
}

.region-footer-fifthcolumn {
  display: inline;
  float: left; /* LTR */
  position: relative;
  text-align:center;
}

h2 {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    font-size: 25px;
    text-indent: 8px;
    margin-bottom: 10px;
    padding:8px;
}

h1 {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    font-size: 25px;
    text-indent: 8px;
    margin-bottom: 10px;
    padding:8px;
}


#footer-columns h2 {
    background:none;
    text-indent:0px;
}


#page-title- {
    display:none;
}

#page-title-page {
    display:none;
}

#page-title-forecast {
    display:none;
}


.footable.breakpoint.toggle-large > tbody > tr > td > span.footable-toggle {
 padding:20px;
}

/*this will help center the elements I think we could do this globally if not just at mobile */
input.form-text, input.form-tel, input.form-email, input.form-url, input.form-search, input.form-number, input.form-color, textarea.form-textarea, select.form-select {
box-sizing: border-box;
}
