p.treeline-info {
  position: relative;
  left: 100px;
  padding: 0px 5px;
  background: #56C6E6;
  color: rgb(51, 51, 51);
  font-weight: bold;
  border-radius: 8px;
  font-size: 11px;
  width:5px;
  margin-bottom:-20px;
  cursor:pointer;
  z-index:10;
}

/*info buttons*/
span.info {
 background: #56C6E6;
 padding-right: 5px;
 padding-left: 5px;
 text-align: center;
 border-radius: 8px;
 font-weight: bold;
 color:#333333;
 font-size:13px;
 cursor:pointer;
}
