#views_slideshow_cycle_teaser_section_considerable_sponsors-block_6 {
width:200px!important;
}

#views_slideshow_cycle_main_considerable_sponsors-block_6 {
width:200px!important;
}

.views_slideshow_cycle_slide {
    width: 100% !important;
    text-align: center !important;
}

#block-views-considerable-sponsors-block-6 {
border:none !important;
}

#block-views-considerable-sponsors-block-7 h2 {
    background:none;
    text-indent:0px;
    color:#3b3b3b;
    text-transform:uppercase;
}

.view-id-considerable_sponsors td {
     background:#ffffff;
}

div.sponsors-views-column {
    width:140px;
    padding:25px;
    display:inline;
}

.sponsors-views-column img {
  vertical-align:middle;
}

div.sponsors-views-row {
  padding: 20px;
}

div.sponsors-views-row-last {
 padding-bottom:5px;
}
