/*equipment display
.group-equipment div.fieldset-wrapper {
     display:inline-flex;
}

.group-equipment div.field-label {
     width:100%;
     padding: 0px 30px;
}

.group-equipment div.form-item {
     width:100%;
     padding: 0px 30px;
}

.group-equipment div.field-items {
     padding: 0px 30px;
}
*/

